html,
body,
* {
  font-family: Fira Code;
  color: #b5bbae;
  cursor: pointer;
  font-weight: 800;
  font-size: 13px;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

div.drag-selector {
  right: 10px;
  font-size: 14px;
  padding: 1px;
  float: left;
  width: 100%;
}

div.drag-selector .drag-icon {
  float: right;
  -webkit-app-region: drag;
}

.down-up-label {
  margin-left: 25px;
}